
<div class="perfilpage">
  <div class="title">
    <h1> Cliente</h1>
  </div>

  <div class= "perfil">
    <img src="./assets/download.png">
  </div>

  <div class="pontuação">
    <h2>Pontuação total</h2>
    <h3 color= red>2500 / 5000</h3>
  </div>
</div>

<p>Medicação</p>
<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Exercicios</p>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>Beber água</p>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>